{
	# Enabling this causes trusted requests to have the real client IP parsed from HTTP headers 
	servers {
		trusted_proxies static private_ranges
	}
}



jf.local.{$HOSTNAME}:80 jellyfin.local.{$HOSTNAME}:80 jf.vpn.{$HOSTNAME}:80 jellyfin.vpn.{$HOSTNAME}:80 {
	reverse_proxy jellyfin:8096
}

git.local.{$HOSTNAME}:80 git.vpn.{$HOSTNAME}:80 {
	reverse_proxy gitea:3000
}

paperless.vpn.{$HOSTNAME}:80 {
	# only listen on the 10.8.0.4 interface
	# bind 10.8.0.4
	reverse_proxy paperless:8000
}

netdata.local.{$HOSTNAME}:80 netdata.vpn.{$HOSTNAME}:80 {
	reverse_proxy netdata:19999
}

grafana.local.{$HOSTNAME}:80 grafana.vpn.{$HOSTNAME}:80 {
	reverse_proxy grafana_pv:3000
}
prometheus.local.{$HOSTNAME}:80 prometheus.vpn.{$HOSTNAME}:80 {
	reverse_proxy prometheus_pv:9090
}

recipya.local.{$HOSTNAME}:80 recipya.vpn.{$HOSTNAME}:80 {
	reverse_proxy recipya:8078
}

pdf.local.{$HOSTNAME}:80 pdf.vpn.{$HOSTNAME}:80 {
	reverse_proxy stirlingpdf:8080
}

