
jf.local.{$HOSTNAME}:80 jellyfin.local.{$HOSTNAME}:80 jf.vpn.{$HOSTNAME}:80 jellyfin.vpn.{$HOSTNAME}:80 {
	reverse_proxy jellyfin:8096
}

git.local.{$HOSTNAME}:80 git.vpn.{$HOSTNAME}:80 {
	reverse_proxy gitea:3000
}

paperless.local.{$HOSTNAME}:80 paperless.vpn.{$HOSTNAME}:80 {
	reverse_proxy paperless:8000
}


